html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


#gui-container{
  position: fixed;
  top: 0;
  left: 10px;
  z-index: 100;
  width: 220px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  background-color: rgba(226, 255, 216, 0.5);
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  flex-wrap: wrap;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.color-picker {
  border: none;
  margin-left: auto;
  padding: 0;
  background: none;
  width: 40px;
  height: 20px;
}
.note {
  font-size: 12px;
  color: #eae2e2;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: "system-ui", sans-serif;
}

.button{
  background-color: rgba(0, 3, 1, 0.3);
  border: none;
  border-radius: 10px;
  color: rgb(230, 231, 241);
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  min-width: 100px;
  cursor: pointer;
  margin-bottom: 10px;
  font-family: "system-ui", sans-serif;
}
.button:hover{
  background-color:rgb(26, 23, 23);
  color: #f2f6ef;
  font-family: "system-ui", sans-serif;
}

/*styled slider */
/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */
.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 6px;
  border-radius: 5px;  
  background: rgba(0, 3, 1, 0.5);
  outline: none;
  /* margin:30px 0;
  margin-right: 10px; */
  margin-bottom: 20px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%; 
  background: #070419;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0b0a10;
  cursor: pointer;
}

.slider-label {
  color: #000000;
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 8px;
  align-self: flex-start;
  font-family: "system-ui", sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  #gui-container{
    left:0;
    margin:0;
    border-radius: 10px 10px 0  0;
    width:100%;
  }
  .button{
    margin: 0 auto;
    display: block;
  }
}